.list-container {
  padding: 20px 5px;
}

.word-item {
  margin-right: 7px;
  margin-bottom: 8px;
}

.word-input-left {
  width: 120px;
  input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.word-input-right {
  width: 190px;
  input {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: none;
  }
  .el-input-group__append {
    button {
      padding: 5px 12px;
    }
  }
}
