.el-alert__title {
  height: 24px;
  line-height: 24px;
}

.el-space__item {
  width: 100% !important;
}

.scope-input {
  .el-input-group__prepend {
    background-color: #fff;
    width: 60px;
  }
}

.reg-switch-cell {
  line-height: 40px;
  padding-right: 0px !important;
  text-align: center !important;
  width: 50px !important;
}
