.el-alert__title {
  height: 24px;
  line-height: 24px;
}

.el-space__item {
  width: 100% !important;
}

.scope-input {
  .el-input-group__prepend {
    background-color: #fff;
  }
}

.reg-switch-cell {
  line-height: 40px;
  padding-right: 0px !important;
  text-align: center !important;
  width: 50px !important;
}

.scope-dialog {
  .el-input-group__append {
    padding: 0 5px;
    .el-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0 7px;
    }
  }
  .el-row {
    display: flex;
    align-items: center;
  }
}
