.list-container {
  padding: 20px 5px;
}

.word-item {
  margin-right: 7px;
  margin-bottom: 8px;
  line-height: 28px;
  height: 28px;
}

.word-input-left,
.word-input-right {
  height: 28px;
}

.word-input-left {
  width: 120px;

  input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.word-input-right {
  width: 190px;

  input {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: none;
  }

  .el-input-group__append {
    padding: 0 3px;

    button {
      padding: 0 3px;
      margin: 0;
    }
  }
}