@import "./aside-menu.scss";

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 22px;
}

p,
a {
    font-size: 15px;
    line-height: 20px;
}

:root {
    --el-menu-text-color: var(--el-color-white) !important;
    --el-main-padding: 45px;
}